parameters:
    level: 6
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    paths:
        - src
    ignoreErrors:
        - '#Unsafe usage of new static\(\)\.#'